* {
    margin: 0;
    padding: 0;
}

body {
  background: linear-gradient(95deg, #8F71C0, #5E636B);
  filter: brightness(100%);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 5px;
}

a {
  margin: 20px;
  }


.hip {
  border: 2px solid red;
  padding:8px;
  background: linear-gradient(90deg, #00416A, #4B3F65);
  height: 50px;
}

.but2 {
  margin-top: 2px;
  position: absolute;
  font-size: 30px;
  border-radius: 10px 10px 10px 10px;
  padding: 3px;
  border: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: none;
  font-weight: bold;
}

li, a {
  text-decoration: none;
  list-style: none;
  margin: 3px;
  color: white;
}

li {
  border: solid 3px sandybrown;
  border-radius: 10px 10px 10px 10px;
}
 
.mar {
  margin-top: 5px;
}

.im {
  width: 100%;
  border-bottom: 4px solid white;
  filter: saturate(70%) brightness(90%) contrast(85%);
  box-shadow: 15px 15px 20px;
}

.im {
  content: '';
  position: relative;
  background: rgba(0,0,0,0.3);
  transform-origin: left;
}

input {
  z-index: 1;
  border: 2px solid yellowgreen;
  display: flex;
  flex-direction: column;
  margin: 30px;
  width: 400px;
  font-size: 40px;
  background: none;
  border-radius: 30px 30px 30px 30px;
}

.P1 {
  border: none;
  text-align: center;
  height: 200px;
  padding-top: 150px;
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 80px 80px 80px 80px;
  padding-bottom: 300px;
  background: linear-gradient(90deg, #886AC8, #4E5693, #464B60, #5E1E61);
  box-shadow: 30px 30px 20px;
}

h1 {
  font-size: 50px;
  position: relative;
  top: -90px;
}

input[type='email'],
input[type='password']{
 outline: none; 
 padding: 2 2rem;
 transition: background .5s;
 font-style: 18px;
 
}

 input {
  margin-left: 85px;
}

.hidden {
  border-style: outset;
  position: absolute;
}

input[type='checkbox']{
  position: relative;
  bottom: 60px;
  right: 170px;
}

.ton {
  position: absolute;
  bottom: 50px;
  right: 410px;
  background: none;
  border: 1px solid red;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 30px;
  border-radius: 10px;
}

a {
  text-decoration: none;
   position: relative;
  transition: 0.8s;
  overflow: hidden;
}

label {
  position: relative;
  bottom: 110px;
  right: 100px;
}

.font {
  font-size: 20px;
  color: white;
  position: relative;
  top: 50px;
  font-family: Arial, Verdana, sans-serif;
}

.forgot {
  position: relative;
  top: -90px;
  right: 90px;
}

.Iforgot {
  color: blue;
  text-decoration: underline;
  font-style: italic;
}

.hidden {
  position: absolute;
  margin-left: 100px;
  z-index: 2;
  width: 800px;
  height: 200px;
  margin-top: 50px;
}

.to {
  font-size: 30px;
  z-index: 1;
  color: white;
  margin: 10px 10px;
  font-style: cursive;
}

i {
  font-size: 5%;
  z-index: 2;
  text-align: left;
  bottom: 50px;
}
